@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* Резервні стилі, якщо Tailwind не підхопився */
:root {
  background-color: #020617; /* Темно-синій фон */
  color: #f8fafc;
  font-family: sans-serif;
}

body {
  margin: 0;
  background-color: #020617;
}

/* Стиль для твоїх карток навичок */
.skill-card {
  background: rgba(30, 41, 59, 0.5);
  border: 1px solid #334155;
  border-radius: 24px;
  padding: 2rem;
  backdrop-filter: blur(10px);
}